
#navbar{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   
    
    margin-bottom: 100px;
}



#navbar>h1{
    display: flex;
    margin-left: 50px;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#bar{
    display: flex;
    gap: 30px;
    margin-left: 200px;
    padding: 30px;
}


#bar>button{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    border: transparent;
    font-size: 30px;
    background: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#bar>:hover{
    background-color: yellowgreen;
}



#abt>h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 50px;
   
    width: 300px;
    height: 200px;
    position: relative;
    animation: mymove 5s infinite;
}
    @keyframes mymove {
        from {left: 0px;}
        to {left: 200px;}
      }
     
      
    

#abt>h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
    
    font-size:22px;
    margin-left: 50px;
}

#igm{
    height: 440px;
    width: 440px;
    margin-left: 850px;
    margin-top: -500px;
    border-radius: 100px;
   
}

#resume{
    margin-left: 50px;
    height: 40px;
    width: 200px;
    border-radius: 80px;
    background-color: yellowgreen;
    color: black;
    font-size: 20px;
    border: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}





#abm{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

#codingImage{
    height: 500px;
    width: 500px;
    border-radius: 40px;
    margin-left: 5%;
}

#abtt{
    display: flex;
    text-align:center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:22px;
    margin-top: 40px;
}

#ab{
    color: yellowgreen;
}

#greenBox{
    
    height: 10px;
    width: 100%;
    background-color: yellowgreen;
    margin-top: -100px;
}

#skil{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: yellowgreen;
    text-align: center;
}

#skilBox{
    border: 5px solid yellowgreen;
    height: 800px;
    width: 90%;
    margin: auto;
    
}

#tech{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows: 100px;
    gap: 50px;
    margin-top: 50px;
    margin-left: 250px;
}

#projects{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    color: yellowgreen;
    text-align: center;
}

#proBox{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;    height: 1500px;
    display: grid;
    background-image: url();
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 700px;
    width: 95%;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#trip{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    height: 620px;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

#trip>img{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    height: 300px;
    width: 80%;
    margin-top: 5%;

}

#gitTrip{
    height: 50px;
}

#skin{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 620px;
    width: 80%;
    text-align: center;
   margin-left: 10%;
}

#skin>img{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    height: 300px;
    width: 80%;
    margin-top: 5%;
}

#bonsai{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    height: 620px;
    width: 80%;
    text-align: center;
    margin-left:60%;
    
}

#bonsai>img{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    height: 300px;
    width: 80%;
    margin-top: 5%;
}

#cont{
    border: 5px solid red;
    height: 300px;
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;

}

